

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333 ;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;





}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}
/* .header{
    border: 1px solid black;
} */

.header-content{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 1rem;


}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}
.logo-icon{
    height: 5.875rem;
    width: 1.938rem;

}

.logo-text{
    font-size: 1rem;
    
}
.nav{
    display: none;
    gap: 1.5rem;
    
}
@media screen and (min-width:768px){
    .nav{
        display: flex;
    }
}
.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}
.nav-link:hover{
    color: var(--link-color);
}
.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
}

@media screen and (min-width:768px){
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: #5254f8;
}

.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 0.9rem;
    

}
@media screen and (max-width: 768px){
    .menu-button{
        display: block;
    }
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;

}

.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;


}
@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);

    }
    100%{
        opacity: 1;
        transform: translateX(0);

    }
}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);

}

.section-heading{
    font-size: 2.25rem;
    color: var(--text-color);
    padding: 1.1rem;
}

.section-description{
    color: var(--gray);
    font-size: 1.15rem
}

.start-button, 
.tour-button{
    border: none;
    border-radius: 0.375rem;
    border-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--primary-color);

}
.tour-button{
    background-color: var(--dark-gray);
}
.button{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-button:hover{
    background-color: #5254f8;

}
.tour-button:hover{
    background-color: var(--gray);

}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;

}

.image-container{
    border-radius: 1.30rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Values provided by designer */
    height: 57vh;
    border: none;


}
.section-image{
    height: 100%;
    width: 100%;


}

@media screen  and (min-width: 768px){
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;

    }
    .section-heading{
        padding-left: 0;

    }
    .button{
        justify-content: start;
        padding-left: 0; 
    }
    .section-label{
        font-size: 1rem;
    }
    .section-heading{
        font-size: 3.8rem;
    }
    .image-container{
        height: 65vh;
    }
    .section-description{
        font-size: 1rem;
        color: var(--gray);
        width: 75%;
    }
    
}

.company-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    animation: slideFromLeft 1s ease forwards;

}


.company-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 3.6rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin: 1.5rem auto;
    justify-content: center;   
    place-items: center;
    padding: 1.8rem 2rem;
    width: fit-content;



}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 120px;



}
.svg-image{
    height: 1.2rem;
}
.logo-txt{
    font-size: 1rem;

}

@media screen  and (min-width: 640px){
    .company-grid{
        grid-template-columns: repeat(4, auto);

    }

}

.feature-container{
    background-color: var(--light-gray);
    padding: 2rem 0;
    text-align: center;
   
}

.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;


}

.main-title{
    font-size: 2.2rem;
    font-weight: bold;


}
.main-description{
    color: var(--gray);
    font-size: 1rem;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-grid{
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.5rem;
    grid-gap: 2rem;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6d7890;
    padding: 2rem;
    border-radius: 1rem;
    gap: 1rem;


}

.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icon-container{
    background-color: var(--background-color);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;


}

.feature-svg{
    width: 1.5rem;
    height: 1.5rem;

}

.feature-title{
    color: var(--background-color);
    font-weight: bold;
    font-size: 1.3rem;
}

.feature-description{
    color: var(--background-color);
}

.feature-card:nth-child(2){
    background-color: #ff6289;
}

.feature-card:nth-child(3){
    background-color: #fcbf58;
}

.feature-card:nth-child(4){
    background-color: #44bfc3;
}

.feature-card:nth-child(5){
    background-color: #77b05d;
}


.feature-card:nth-child(6){
    background-color: #7d78b1;
}

.feature-card:nth-child(1){
    background-color: #4a90e2;
}

@media screen and (max-width: 768px){
    .feature-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

.testimonial-container{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.testimonial-title{
    font-size: 1.875rem;
    font-weight: bold;
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;

}

.testimonial-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1rem;
    gap: 1.6rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0, 0.2);
    border: 1px solid blue;
}

.testimonial-avatar img{
    height: 5rem;
    width: 5rem;

}

.testimonial-text{
    font-size: 0.875rem;
    color: #555;
}
.testimonial-name{
    font-size: 1rem;
    color: var(--primary-color);

}
.testimonial-desc{
    font-size: 1rem;


}


/* NewsLetter */

.newsletter-container{
    background-color: var(--background-color);
    padding: 2rem;
    max-width: 1280px;
    height: 38vh;
    margin: 0 auto;


}

.newsletter-content{
    display: flex;
    background-color: var(--light-gray);
    height: 100%;
    flex-direction: row;
    border-radius: 8px;
    overflow: hidden;
}

.news-left{
    width: 50%;
    height: 100%;
    display: none;
  
    position: relative; 
}

.news-left img{
    position: absolute;
    inset: 0;
   
   
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;


}

.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 3rem;
    align-items: flex-start;
    width: 98%;
}

@media screen and (min-width:640px){
    .news-left{
        display: block;
        width: 50%;
    }

    .newsletter-container{
        padding: 2rem;
    }

    .news-right{
        width: 50%;
    }


}

.news-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: left;
}

.news-info{
    padding: 0 3rem;
}

.news-description{
    text-align: left;
    color: #777;
}

.news-form{
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.7rem;
}

.news-email{
    background-color: var(--background-color);
    width: 100%;
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;

}

.news-email:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.news-button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;

}

.news-button:hover{
    background-color: var(--link-color);
}

.news-policy{
    font-size: 0.6rem;
    color: #777;
    
    padding: 0 3rem;
}

.news-link{
    text-decoration: underline;
    color: #3f83f8;
}

@media screen and (min-width:640px){
    .news-title{
        font-size: 2.5rem;
    }

}


/* Footer Section Styling */

.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding: 1rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding-right: 2rem;
}

.footer-top{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

}

.logo-svg{
    width: 2.2rem;
    height: 5.8rem;
}

.logo-link{
    display: flex;
    justify-content: center; /* horizontal*/
    align-items: center;  /* vertical*/
    gap: 0.8rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

.social-icon{
    width: 1.5rem;
    height: 1.5rem;

}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.7rem ;
}

.filler-text{
    font-size: 1rem;
    color: #777;

}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3.6rem;
    padding-top: 2rem;
   
}

.footer-grid-heading{
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
}

ul{
    list-style-type: none;
}

.footer-link{
    color: #777;
    font-size: 0.80rem;
}

.footer-link-list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-grid-heading{
    margin-bottom: 1.6rem;
}

.social{
    display: flex;
    gap: 0.6rem;
}

.footer-copyright{
    color: var(--gray);
    font-size: 0.7rem;
    padding-bottom: 2rem ;
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid #e5e7eb;

}

@media screen and (max-width:1080px){
    .footer{
        flex-direction: column;
        align-items: center;
    }

    .footer-top{
        padding-left: 8rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 850px){
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-top{
        padding-left: 2rem;
    }
}